<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a style="cursor: pointer;text-decoration: none;" routerLink="/germany" (click)="onClick('Germany')"><b>MUSIC
                        ARTISTS</b></a></span>
        </div>
        <div class="navbar-default"> <!--Navigation bar-->
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="dropdown" appDropdown> <!--Dropdown with predefined country names-->
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">{{selectedCountry}}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" routerLinkActive="active" routerLink="/germany"
                                (click)="onClick('Germany')">Germany</a></li>
                        <li><a style="cursor: pointer;" routerLinkActive="active" routerLink="/spain"
                                (click)="onClick('Spain')">Spain</a></li>
                        <li><a style="cursor: pointer;" routerLinkActive="active" routerLink="/india"
                                (click)="onClick('India')">India</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active"> <!--Side by side navigation-->
                    <a title="side-by-side" routerLink="/side-by-side">
                        <span id="title">SIDE-BY-SIDE</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding: 10px 0 0 0;"> <!--Search bar in Navigation-->
                <app-search [artistNames]="dataset"></app-search>
            </ul>
        </div>
    </div>
</nav>