<div class="row">
    <div class="col-xs-12">
        <h1>{{artName}}</h1>
    </div>
</div><br>
<div class="row">
    <div class="col-xs-12"><span><b>Summary : </b></span>{{artSummary}}</div>
</div><br>
<div class="row">
   <div class="col-xs-12"> <span><b>Listeners : </b></span>{{artListeners}}</div>
</div><br>
<div class="row">
   <div class="col-xs-12"> <span><b>Playcount : </b></span>{{artPlaycount}}</div>
</div><br>
<div class="row">
   <div class="col-xs-12"><span><b>URL : </b></span><a href={{artUrl}}>{{artUrl}}</a></div>
</div><br><br>
<div class="row">
    <div class="col-xs-12"><span><b>Top Albums : </b></span>{{artAlbums}}</div>
</div><br><br>
<div class="row">
    <div class="col-xs-12"><span><b>Top Tracks : </b></span>{{artTracks}}</div>
</div><br>
