<div class="row">
    <div class="col-xs-12">
        <h3><b>Artists Information</b></h3>
    </div>
</div>
<hr>
<div *ngIf="isLoading" style="text-align: center;"> <!-- Spinner while data retrieving from API -->
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="main" style="border: silver solid 1px;padding: 20px;" *ngIf="!isLoading"> <!-- Artist details panel -->
    <div class="error" *ngIf="error">
        <p>{{errorMessage}}</p>
    </div>
    <div *ngIf="!error">
        <div class="row">
            <div class="pull-left">
                <div class="col-xs-12">
                    <h1>{{artName}}</h1>
                </div><br>
                <div class="col-xs-12"> <span><b>Listeners : </b></span>{{artListeners}}</div><br>
                <div class="col-xs-12"> <span><b>Playcount : </b></span>{{artPlaycount}}</div><br>
            </div>
            <span class="pull-right">
                <img [src]="imgData" alt="{{artName}}" class="img-responsive" style="max-height: 150px;">
            </span>
        </div><br>
        <div class="row">
            <div class="col-xs-12"><span><b>Summary : </b></span>{{artSummary}}</div>
        </div><br>
        <div class="row">
            <div class="col-xs-12"><span><b>URL : </b></span><a href={{artUrl}}>{{artUrl}}</a></div>
        </div><br><br>
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left"><span><b>Top Albums : </b></span><br><br>
                    <ul *ngFor="let albumEl of artAlbums">
                        <li>{{albumEl}}</li><br>
                    </ul>
                </div>
                <div class="pull-right"><span><b>Top Tracks : </b></span><br><br>
                    <ul *ngFor="let trackEl of artTracks">
                        <li>{{trackEl}}</li><br>
                    </ul>
                </div>
            </div>
        </div><br><br>
    </div>
</div>